{{#each data}}
   <li class="item">
        <h2 class="title">{{name}}</h2>
        <img src="{{image}}" alt="{{name}}" class="image">
        <p class="firsttext">{{location}}</p>
        <p class="secondtext">{{capacity}}</p>
        <h3 class="subtext">{{team}}</h3>
        <p class="thirdtext">{{opened}}</p>
        <p class="fourthtext">{{isOpen}}</p>
    </li>
  {{/each}}